// //Header Logo
// $size-logo-top: 40px;
// $font-logo-top: 'Montserrat', sans-serif;
// $color-logo-top: yellow;
// $size-logo-bottom: 10px;
// $font-logo-bottom: 'Montserrat', sans-serif;
// $color-logo-bottom: white;

//Header Info
$font-info-h1: 'Montserrat', sans-serif;
$size-info-h1: 40px;
$color-info-h1: white;
$font-info-a: 'Montserrat', sans-serif;
$size-info-a: 19px;
$color-info-a: yellow;

//Section Box
$font-section-h1: 'Montserrat', sans-serif;
$font-section-h2: 'Montserrat', sans-serif;
$font-section-h3: 'Montserrat', sans-serif;
$font-section-h4: 'Montserrat', sans-serif;
$font-section-p: 'Montserrat', sans-serif;
$font-section-a: 'Montserrat', sans-serif;

$size-section-h1: 30px;
$size-section-h2: 20px;
$size-section-h3: 40px;
$size-section-h4: 19px;
$size-section-p: 15px;
$size-section-a: 19px;

$color-section-h1: #002c66;
$color-section-h2: #002c66;
$color-section-h3: white;
$color-section-h4: gray;
$color-section-p: rgb(48, 48, 48);
$color-section-a: #002c66;;